.c-dotted-line {
    position: relative;
    margin: 0;
    height: 20px;

    &--vertical {
        width: 20px;
        height: 100%;
    }

    &--transparent {
        background: radial-gradient(10px 10px, transparent, transparent 45%, #9e9c9c 90%, white 92%, white 100%) 38px -5px/27px 29px repeat-x;
    }

    &--primary-50 {
        background: radial-gradient(circle 10px, #DFF4F1, #DFF4F1, #FFFFFF 60%, #FFFFFF 100%) 58px 0px/20px 20px repeat-x;
    }

    &--secondary-100 {
        background: radial-gradient(circle 12px, $s-secondary-100, $s-secondary-100, $s-white 60%, $s-white 100%) 47px 0px/20px 20px repeat-x;
    }

    &--blue-400 {
        background: radial-gradient(circle 12px, $s-blue-400, $s-blue-400, $s-white 60%, $s-white 100%) 47px 0px/20px 20px repeat;
    }

    &--before-program {
        background: radial-gradient(circle 12px, transparent, transparent 40%, #c4c4c4 60%, #fff 60%, #fff 100%) 33px 9px/20px 27px repeat-x;
    }

    &--after-program {
        background: radial-gradient(circle 12px, #FFCB29, #FFCB29 40%, #c4c4c4 60%, #fff 60%, #fff 100%) 33px -16px/20px 27px repeat-x;
    }
}
