.c-heading-part {
    display: grid;
    grid-template-rows: min-content min-content;
    align-content: center;
    row-gap: 24px;

    &--centered {
        text-align: center;
    }

    &--left {
        text-align: left;
    }
}
