.c-home-main {
    display: grid;
    grid-template-rows: 300px 565px auto auto 745px auto auto;
    row-gap: 64px;

    &__welcome {
        background-color: $s-blue-400;

        &-heading {
            justify-self: center;
            align-self: flex-start;
            text-align: center;
            color: $s-white;
            padding: 0 5%;
        }

        .o-page-content-wrapper {
            height: 100%;
            background-color: $s-blue-400;
            display: grid;
            grid-template-rows: 85px 1fr;

            .btn {
                justify-self: center;
                align-self: flex-end;
            }
        }
    }

    &__enroll {
        position: relative;
        .o-page-content-wrapper {
            height: 100%;
            position: absolute;
            top: -60px;
            left: 4%;
            background: url("/assets/images/points-white.svg");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;

            display: grid;
            grid-template-rows: 150px auto;

            .btn {
                justify-self: center;
                align-self: center;
            }
        }

        &-button-wrapper {
            display: grid;

            .btn {
                justify-self: center;
                align-self: center;
            }
        }

        &-cards {
            display: grid;
            grid-template-rows: 100px 100px 100px 100px;
        }

        &-card {
            display: grid;
            grid-template-columns: 32px auto;
            grid-template-rows: auto;
            column-gap: 24px;
            padding-left: 24px;

            &-icon {
                align-self: center;

                &::after {
                    position: relative;
                    content: "";
                    width: 24px;
                    height: 2px;
                    background-color: $s-grey-700;
                    display: inline-block;
                    bottom: -20px;
                    left: 0;
                }
            }

            &-content {
                display: grid;
                grid-template-rows: auto auto;
                row-gap: 6px;

                &__key {
                    align-self: flex-end;
                }

                &__value {
                    color: $s-secondary-800;
                }
            }
        }
    }

    &__description {
        .o-page-content-wrapper {
            height: 100%;
            display: grid;
            row-gap: 32px;
            grid-template-rows: 1fr 190px;

            @include for-tablet-landscape-up {
                display: grid;
                grid-template-columns: 1fr 440px;
            }
        }

        &-texts {
            display: grid;
            grid-template-rows: auto auto auto;
            gap: 20px 0;
        }

        &-video {
            position: relative;
            justify-self: center;
            width: 335px;
            height: 190px;

            .far {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-size: 60px;
                color: $s-white;
                background-color: transparent;
            }

            @include for-tablet-landscape-up {
                align-self: center;
            }
        }
    }

    &__faq {
        .o-page-content-wrapper {
            height: 100%;
            display: grid;
            grid-template-rows: 1fr 1fr;
            row-gap: 32px;

            @include for-tablet-landscape-up {
                display: grid;
                grid-template-columns: 1fr 1fr;
            }
        }

        // &-suitable {
        //     display: grid;
        //     grid-template-rows: 1fr 1fr;

        //     &-heading {
        //         display: grid;
        //         grid-template-columns: 32px 1fr;
        //         gap: 0 18px;
        //         align-items: center;

        //         h1 {
        //             height: 70px;
        //             text-align: left;
        //         }
        //     }
        // }

        // &-important {
        //     display: grid;
        //     grid-template-rows: 1fr 1fr;

        //     &-heading {
        //         display: grid;
        //         grid-template-columns: 32px 1fr;
        //         gap: 0 18px;
        //         align-items: center;

        //         h1 {
        //             height: 35px;
        //             text-align: left;
        //         }
        //     }
        // }
    }

    &__program {
        background-color: $s-secondary-900;

        .o-page-content-wrapper {
            height: 100%;
            display: grid;
            grid-template-rows: 200px 445px;
            gap: 32px 0;
        }

        // &-description {
        //     display: grid;
        //     grid-template-rows: 1fr 1fr;

        //     &-heading {
        //         display: grid;
        //         grid-template-columns: 32px 1fr;
        //         gap: 0 18px;
        //         align-items: center;

        //         h1 {
        //             height: 70px;
        //             text-align: left;
        //         }
        //     }
        // }

        &-classes {
            display: grid;
            grid-template-rows: auto auto auto auto auto;
            gap: 16px 0;

            &-class {
                margin-left: 14px;
                width: 60%;
            }

            .fa {
                margin-right: 21px;
            }
        }
    }

    @include for-tablet-landscape-up {
        .c-home-main__certificate {
            display: block;

            .o-page-content-wrapper {
                display: grid;
                grid-template-columns: 1fr 1fr;
                column-gap: 32px;
                height: 100%;
            }

            &-image-wrapper {
                width: 363px;
                height: 256px;
                background-color: $s-grey-300;
                justify-self: center;
                align-self: center;
                display: grid;
                align-content: center;
                justify-content: center;
            }

            &-description {
                align-self: center;
            }
        }
    }

    &__info {
        height: 100%;

        .o-page-content-wrapper {
            height: 100%;
            display: grid;
            grid-template-rows: 1fr 1fr;
            row-gap: 32px;
            padding-bottom: 96px;

            @include for-tablet-landscape-up {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: auto;
                column-gap: 32px;
                height: 100%;
            }

            @include for-desktop-up {
                height: 100%;
                display: grid;
                grid-template-columns: 1fr 1fr;
                column-gap: 32px;
            }
        }

        &-location {
            @include for-tablet-landscape-up {
                height: min-content;
            }

            @include for-desktop-up {
                height: min-content;
            }
        }
    }
}
