.c-home-main {
    display: grid;
    grid-template-rows: 300px 565px auto auto 10px auto 10px auto auto;
    grid-template-columns: auto;
    padding-bottom: 108px;

    .enroll-points-desktop-up {

        @include for-desktop-up {
            display: block !important;
        }
    }

    // .c-dotted-line--transparent {
    //     @include for-desktop-up {
    //         display: none;
    //     }
    // }

    @include for-tablet-landscape-up {
        display: grid;
        grid-template-rows: 300px 275px auto auto 10px auto 10px auto auto;
        grid-template-columns: auto;
    }

    @include for-desktop-up {
        display: grid;
        grid-template-rows: 300px 112px auto auto 10px auto 10px auto auto;
        grid-template-columns: auto;
        padding-bottom: 160px;
    }

    &__welcome {
        background-color: $s-blue-400;

        &-heading {
            text-align: center;
            color: $s-white;
            max-width: 600px;
        }

        .o-page-content-wrapper {
            height: 100%;
            background-color: $s-blue-400;
            display: grid;
            grid-template-rows: 22px auto;
            row-gap: 24px;
            align-content: center;
            justify-content: center;

            .btn {
                justify-self: center;
                align-self: flex-end;
            }
        }
    }

    &__enroll {
        position: relative;

        .o-page-content-wrapper {
            height: 100%;
            position: absolute;
            top: -60px;
            left: 4%;
            display: grid;
            grid-template-rows: 150px 20px auto;
            grid-template-columns: auto;

            background-color: $s-white;
            box-shadow: $s-tertiary-shadow;
            border-radius: 12px;

            @include for-desktop-up {
                display: grid;
                grid-template-columns: auto 20px auto;
                grid-template-rows: 112px;
            }

            .btn {
                padding: 16px 94px;
                justify-self: center;
                align-self: center;

                @include for-desktop-up {
                    padding: 14px 32px;
                }
            }
        }

        &-points {
            .c-dotted-line {
                @include for-desktop-up {
                    display: none;
                    
                }
            }

            
            // .c-dotted-line {
            //     @include for-desktop-up {
            //         width: 20px;
            //         height: 100%;
            //         background: radial-gradient(circle 10px, transparent, transparent 40%, #c4c4c4 60%, #fff 60%, #fff 100%)
            //             41px -11px/20px 19px repeat;
            //     }
            // }
        }

      

        &-cards {
            display: grid;
            grid-template-rows: 100px 100px 100px 100px;
            grid-template-columns: auto;
            // grid-auto-columns: auto;

            @include for-tablet-landscape-up {
                display: grid;
                grid-template-columns: auto auto auto auto;
                grid-template-rows: 112px;
                column-gap: 12px;
            }

            @include for-desktop-up {
                column-gap: 32px;
            }
        }

        &-card {
            display: grid;
            grid-template-columns: 32px auto;
            grid-template-rows: auto;
            column-gap: 24px;
            padding-left: 24px;

            &-icon {
                align-self: center;

                &::after {
                    position: absolute;
                    content: "";
                    width: 24px;
                    height: 2px;
                    background-color: $s-grey-700;
                    display: inline-block;
                    bottom: -20px;
                    left: 0;
                }
            }

            &-content {
                display: grid;
                grid-template-rows: auto auto;
                row-gap: 6px;

                &-key {
                    align-self: flex-end;
                    font-weight: bold;
                    font-size: 18px;
                    line-height: 22px;
                }

                &-value {
                    color: $s-secondary-800;
                    font-weight: bold;
                    font-size: 20px;
                    line-height: 24px;
                }
            }
        }
    }

    &__description {
        .o-page-content-wrapper {
            height: 100%;
            display: grid;
            row-gap: 32px;
            grid-template-rows: min-content auto;
            grid-template-columns: auto;
            color: $s-grey-700;

            @include for-tablet-landscape-up {
                display: grid;
                grid-template-columns: 60% 40%;
                grid-template-rows: auto;
                column-gap: 20px;
            }

            @include for-desktop-up {
                column-gap: 36px;
            }
        }

        &-texts {
            display: grid;
            grid-template-rows: auto auto auto;
            grid-template-columns: auto;
            row-gap: 20px;
        }

        &-video {
            position: relative;
            justify-self: center;

            @include for-tablet-landscape-up {
                align-self: center;
            }

            @include for-middle-desktop-up {
                position: relative;
                align-self: center;
            }

            &-mobile {
                width: 335px;
                height: 190px;
                @include for-middle-desktop-up {
                    display: none;
                }
            }

            &-desktop {
                @include for-middle-desktop-up {
                    display: block !important;
                    width: 440px;
                    height: 248px;
                }
            }

            .far {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-size: 60px;
                color: $s-white;
                background-color: transparent;
            }
        }
    }

    &__faq {
        .o-page-content-wrapper {
            height: 100%;
            display: grid;
            grid-template-rows: 1fr 10px 1fr;
            grid-template-columns: auto;
            padding: 64px 0;
            row-gap: 32px;
            color: $s-grey-700;

            @include for-tablet-landscape-up {
                display: grid;
                grid-template-columns: 1fr 10px 1fr;
                grid-template-rows: auto;
                column-gap: 48px;
            }

            @include for-tablet-landscape-up {
                column-gap: 88px;
            }

            .c-card-main {
                grid-template-areas:
                    "icon heading"
                    "content content";

                @include for-tablet-landscape-up {
                    grid-template-areas:
                        "icon heading"
                        "icon content";
                }

                &__content {
                    display: grid;
                    grid-template-rows: max-content;
                    grid-template-columns: auto;
                    row-gap: 20px;
                    grid-auto-flow: row;
                    grid-auto-rows: auto;

                    @include for-desktop-up {
                        max-width: 488px;
                    }
                }
            }
        }

        &-points {
            .c-dotted-line {
                @include for-tablet-landscape-up {
                    width: 20px;
                    height: 100%;
                    background: radial-gradient(circle 10px, #ffecb3, #ffecb3, #ffffff 60%, #ffffff 100%) 40px -1px/20px
                        17px repeat;
                }
            }
        }
    }

    &__program {
        background-color: $s-secondary-400;

        .o-page-content-wrapper {
            display: grid;
            grid-template-rows: auto min;
            grid-template-columns: auto;
            padding: 64px 0;
            color: $s-grey-700;

            @include for-desktop-up {
                display: grid;
                grid-template-columns: 58% auto;
                grid-template-rows: auto;
            }
        }

        &-description-wrapper {
            display: grid;
            grid-template-rows: auto auto;
            grid-template-columns: auto;
            row-gap: 32px;

            .c-card-main {
                grid-template-areas:
                    "icon heading"
                    "content content";

                @include for-desktop-up {
                    grid-template-areas:
                        "icon heading"
                        "icon content";
                }
            }
        }

        &-image-wrapper {
            @include for-desktop-up {
                display: block !important;
                display: grid !important;
                grid-template-columns: auto;
                grid-template-rows: auto;
                justify-items: center;
                align-items: flex-end;

                .image-program {
                    padding-left: 50px;
                }
            }
        }

        &-classes {
            display: grid;
            grid-template-rows: 22px 52px 52px 94px 74px;
            row-gap: 16px;
            position: relative;

            @include for-desktop-up {
                padding-left: 4em;
            }

            &-class {
                padding-left: 14px;
                font-size: 18px;
                max-width: 265px;
            }

            &-heading {
                font-size: 18px;
            }

            .arrow-down {
                position: absolute;
                right: 20px;
                color: $s-grey-500;
            }
        }
    }

    &__certificate {
        @include for-tablet-landscape-up {
            display: block !important;
        }

        .o-page-content-wrapper {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto;
            column-gap: 10px;
            height: 100%;
            padding-top: 60px;
            padding-bottom: 108px;
        }

        &-wrapper {
            display: grid;
            grid-template-columns: auto;
            grid-template-rows: auto;
            height: 100%;

            &-image {
                width: 363px;
                height: 256px;
                background-color: $s-grey-300;
                justify-self: center;
                align-self: center;
                display: grid;
                grid-template-columns: auto;
                grid-template-rows: auto;
                background-color: $s-grey-300;
                border-radius: 12px;
                box-shadow: $s-tertiary-shadow;
            }

            &-description {
                align-self: center;
                height: 36px;
                font-weight: 500;
                font-size: 18px;
                line-height: 22px;
                color: $s-grey-700;
                text-align: center;
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: auto;
                align-content: center;
            }
        }

        &-description {
            align-self: center;
            color: $s-grey-700;
        }
    }

    &__info {
        height: 100%;
        padding-top: 60px;

        @include for-tablet-landscape-up {
            padding-top: 0;
        }

        .o-page-content-wrapper {
            height: 100%;
            display: grid;
            grid-template-rows: 1fr 12px 1fr;
            grid-template-columns: auto;
            row-gap: 32px;
            color: $s-grey-700;

            .c-card-main {
                grid-template-areas:
                    "icon heading"
                    "content content";

                @include for-desktop-up {
                    grid-template-areas:
                        "icon heading"
                        "icon content";
                }
            }

            @include for-tablet-landscape-up {
                display: grid;
                grid-template-columns: 1fr 12px 1fr;
                grid-template-rows: auto;
                column-gap: 32px;
            }

            @include for-desktop-up {
                display: grid;
                grid-template-columns: 1fr 12px 1fr;
                grid-template-rows: auto;
                column-gap: 32px;
            }
        }

        &-location {
            @include for-tablet-landscape-up {
                height: min-content;
            }

            @include for-desktop-up {
                height: min-content;
            }
        }

        &-points {
            .c-dotted-line {
                @include for-tablet-landscape-up {
                    width: 20px;
                    height: 100%;
                    background: radial-gradient(circle 10px, #ffecb3, #ffecb3, #ffffff 60%, #ffffff 100%) 40px 4px/20px
                        15px repeat;
                }
            }
        }
    }
}
