$s-main-background: #e5e5e5;

$s-primary-50: #dff4f1;
$s-primary-300: #41bead;

$s-secondary-50: #fff8e1;
$s-secondary-100: #ffecb3;
$s-secondary-400: #ffcb29;
$s-secondary-500: #ffc20a;
$s-secondary-600: #ffb402;
$s-secondary-800: #ff9100;
$s-secondary-900: #ff7100;

$s-grey-100: #f1f1f1;
$s-grey-200: #e6e6e6;
$s-grey-300: #d6d6d6;
$s-grey-400: #b2b2b2;
$s-grey-500: #919191;
$s-grey-600: #696969;
$s-grey-700: #565656;

$s-blue-200: #92cdfb;
$s-blue-300: #66b9f8;
$s-blue-400: #44a9f8;

$s-white: #ffffff;
