.o-page-wrapper {
    min-width: 375px;
    min-height: 100%;
    display: grid;
    grid-template-rows: 74px auto auto;
    grid-template-columns: auto;
}

.o-page-content-wrapper {
    width: 92%;
    margin: 0 auto;

}