.c-contact-us-main {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: auto;

    &__info-wrapper {
        display: grid;
        grid-template-columns: 4% 38% 54% 4%;
        grid-template-rows: auto auto;
        // row-gap: 24px;
        justify-items: center;

        @include for-desktop-up {
            justify-items: unset;
            grid-template-rows: 27% 73%;
            row-gap: 0;
        }
    }

    &__info {
        display: grid;
        grid-template-rows: auto auto;
        grid-template-columns: auto;
        row-gap: 24px;
        background-color: $s-white;

        grid-column: 2 / span 2;
        grid-row: 3;

        @include for-desktop-up {
            grid-column: 2;
            grid-row: 2 / span 2;
            z-index: 33;
            border-radius: 12px;
            box-shadow: $s-1dp-shadow;
            grid-template-rows: 75% 25%;
            max-width: 520px;
            max-height: 400px;
            row-gap: unset;
        }

        &-button-wrapper {
            display: grid;
            grid-template-rows: max-content;
            grid-template-columns: auto;

            @include for-desktop-up {
                grid-template-rows: auto;
                align-self: center;
            }

            .btn {
                box-shadow: none;
                justify-self: center;

                padding: 14px 42px;
                font-weight: 800;
                text-transform: uppercase;
                

                @include for-desktop-up {
                    align-self: center;
                }
            }
        }

        &-image-wrapper {
            grid-column: 1 / span 4;
            grid-row: 1 / span 2;

            img {
                width: 100%;
                height: auto;
            }
        }

        &-inner {
            display: grid;
            grid-template-rows: auto auto auto;
            grid-template-columns: auto;
            row-gap: 24px;
            padding-top: 32px;

            @include for-tablet-landscape-up {
                display: grid;
                grid-template-columns: auto auto auto;
                grid-template-rows: auto;
                column-gap: 128px;
            }

            @include for-desktop-up {
                display: grid;
                grid-template-columns: max-content max-content;
                grid-template-rows: max-content;
                grid-auto-flow: row;
                column-gap: 1em;
                row-gap: 1.5em;
                padding-top: 0;
                text-align: start;
                justify-content: center;
                align-content: center;
            }

            @include for-middle-desktop-up {
                column-gap: 2em;
            }
        }

        &-heading {
            color: $s-primary-300;
            font-weight: 600;
            font-size: 20px;
            line-height: 24px;
        }

        &-address {
            display: grid;
            grid-template-rows: 24px auto;
            grid-template-columns: auto;
            row-gap: 18px;

            &-description-text {
                color: $s-grey-700;
                max-width: 200px;
                max-height: 60px;
            }
        }

        &-working-time {
            display: grid;
            grid-template-rows: 24px auto;
            grid-template-columns: auto;
            row-gap: 18px;

            &-description {
                display: grid;
                grid-template-rows: auto auto;
                grid-template-columns: auto auto;
                row-gap: 18px;
                column-gap: 24px;

                @include for-tablet-landscape-up {
                    grid-template-columns: auto min-content;
                }

                &-time {
                    color: $s-secondary-800;
                }

                &-text {
                    color: $s-grey-700;
                }
            }
        }

        &-contacts {
            display: grid;
            grid-template-rows: 24px auto;
            grid-template-columns: auto;
            row-gap: 18px;

            &-description-text {
                color: $s-grey-700;
            }
        }
    }

    &__write-us {
        .o-page-content-wrapper {
            display: grid;
            max-width: 850px;
            grid-template-rows: 24px 140px 192px 48px;
            grid-template-columns: auto;
            background-color: $s-white;
            padding: 48px 0 96px 0;
            row-gap: 30px;

            @include for-tablet-landscape-up {
                display: grid;
                grid-template-rows: 24px 50px 192px 48px;
            }

            @include for-desktop-up {
                padding-top: 48px;
            }

            @include for-middle-desktop-up {
                padding-top: 24px;
            }

            .btn {
                justify-self: flex-start;
                padding: 14px 32px;
            }
        }

        &-heading {
            justify-self: center;
            color: $s-primary-300;
        }

        &-inputs {
            display: grid;
            grid-template-rows: 50px 50px;
            row-gap: 30px;

            @include for-tablet-landscape-up {
                grid-template-columns: 409px 409px;
                grid-template-rows: 50px;
                column-gap: 30px;
            }

            &-item {
                height: 100%;
                border: 1px solid $s-grey-500;
                border-radius: 6px;
                background-color: $s-white;

                &::placeholder {
                    color: $s-grey-500;
                }
            }
        }

        &-input-text {
            border: 1px solid $s-grey-500;

            &::placeholder {
                color: $s-grey-500;
            }
        }
    }

    &__get-there {
        display: grid;
        grid-template-columns: auto;
        justify-items: center;
        align-items: center;
        background-color: $s-secondary-50;

        .o-page-content-wrapper {
            display: grid;
            grid-template-rows: auto auto;
            grid-template-columns: auto;
            row-gap: 48px;
            background-color: $s-secondary-50;
            padding-top: 96px;
            padding-bottom: 108px;
        }

        &-heading {
            color: $s-primary-300;
            font-weight: 600;
            font-size: 30px;
            line-height: 36px;
            text-align: center;
        }

        &-transport {
            display: grid;
            grid-template-rows: auto auto auto;
            grid-template-columns: auto;
            row-gap: 32px;
            text-align: left;

            @include for-tablet-landscape-up {
                display: grid;
                grid-template-columns: auto auto auto;
                grid-template-rows: auto;
                column-gap: 16px;
            }

            @include for-desktop-up {
                column-gap: 32px;
            }

            &-heading {
                color: $s-primary-300;
                font-weight: 600;
                font-size: 24px;
                line-height: 30px;
            }

            &-description {
                display: grid;
                grid-template-rows: auto;
                grid-template-columns: auto;
                grid-auto-rows: auto;
                row-gap: 16px;
                &-text {
                    color: $s-grey-700;

                    @include for-tablet-landscape-up {
                        max-width: 407px;
                    }
                }
            }
        }
    }
}
