.c-trainers-main {
    display: grid;
    grid-template-rows: 356px auto 10px auto 662px;
    row-gap: 64px;

    @include for-tablet-landscape-up {
        grid-template-rows: 356px auto 10px auto 400px;
    }

    @include for-desktop-up {
        row-gap: 96px;
    }

    &__welcome {
        background-color: $s-secondary-600;

        &-heading {
            justify-self: center;
            align-self: flex-start;
            text-align: center;
            color: $s-white;
            padding: 0 5%;
        }

        .o-page-content-wrapper {
            height: 100%;
            background-color: $s-secondary-600;
            display: grid;
            grid-template-columns: auto;
            grid-template-rows: auto;
            color: $s-white;

            .c-heading-part {
                &__description {
                    justify-self: center;
                    max-width: 850px;
                }
            }
        }
    }

    &__leaders {
        .o-page-content-wrapper {
            height: 100%;
            display: grid;
            grid-template-rows: auto auto;
            justify-content: center;
            row-gap: 64px;

            @include for-desktop-up {
                display: grid;
                grid-template-columns: auto auto;
                grid-template-rows: auto;
                column-gap: 32px;
            }
        }
    }

    &__all {
        display: grid;
        grid-template-columns: auto;

        &-list {
            display: grid;
            grid-template-columns: auto min min min;
            grid-auto-flow: column;
            justify-content: center;
            align-content: center;
            // column-gap: 32px;

            @include for-tablet-portrait-up {
                display: grid;
                grid-template-columns: auto auto min min !important;
                column-gap: 86px;
            }

            @include for-tablet-landscape-up {
                display: grid;
                grid-template-columns: auto auto auto min !important;
                column-gap: 86px;
            }

            @include for-desktop-up {
                display: grid;
                grid-template-columns: auto auto auto auto !important;
                column-gap: 86px;
            }

            &-item:nth-child(2) {
                @include for-tablet-portrait-up {
                    width: 100%;
                    display: block !important;

                    .o-round-wrapper__overlay {
                        left: 14px;
                    }
                }
            }

            &-item:nth-child(3) {
                @include for-tablet-landscape-up {
                    width: 100%;
                    display: grid;
                }
            }

            &-item:nth-child(4) {
                @include for-desktop-up {
                    width: 100%;
                    display: grid;

                    .o-round-wrapper__overlay {
                        left: 12px;
                    }
                }
            }
        }
    }

    &__join {
        position: relative;
        background-color: $s-blue-300;
        height: 662px;
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
        align-content: center;

        &::before {
            position: absolute;
            content: "";
            width: 100%;
            height: 12px;
            background-color: $s-blue-200;
            display: inline-block;
            top: -12px;
            left: 0;
        }

        @include for-tablet-landscape-up {
            height: 400px;
        }

        .o-page-content-wrapper {
            height: 100%;
            background-color: $s-blue-300;
            display: grid;
            grid-template-rows: 164px auto;
            grid-template-columns: auto;
            justify-content: center;
            align-content: center;
            row-gap: 46px;

            @include for-tablet-landscape-up {
                height: 400px;
                grid-template-rows: 108px 130px;
                grid-template-columns: auto;
                justify-content: center;
                align-content: center;
                row-gap: 46px;
            }
        }

        &-main {
            display: grid;
            grid-template-rows: auto auto;
            row-gap: 46px;

            @include for-tablet-landscape-up {
                grid-template-columns: auto auto;
                grid-template-rows: auto;
                // justify-content: center;
                align-content: flex-start;
                column-gap: 48px;
            }
        }

        &-inputs {
            display: grid;
            grid-template-rows: 50px 50px 50px;
            grid-template-columns: auto;
            justify-content: center;
            align-content: center;
            row-gap: 36px;

            @include for-tablet-landscape-up {
                grid-template-columns: auto auto auto;
                grid-template-rows: 50px;
                justify-content: center;
                align-content: center;
                column-gap: 32px;
            }

            &-item {
                min-width: 335px;
                height: 100%;
                border: 1px solid $s-white;
                border-radius: 6px;
                background-color: $s-blue-300;

                @include for-tablet-landscape-up {
                    min-width: 200px;
                    height: 100%;
                }

                &::placeholder {
                    height: 20px;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 19px;
                    color: $s-white;
                    padding-left: 16px;
                    padding-top: 16px;
                    padding-bottom: 16px;
                }
            }
        }

        &-heading-part {
            color: $s-white;

            @include for-tablet-portrait-up {
                text-align: center;
            }
        }

        &-description {
            max-width: 850px;
        }

        &-button-wrapper {
            display: grid;
            grid-template-rows: 48px;
            grid-template-columns: auto;
            // justify-self: center;

            // justify-content: center;
            // align-content: center;

            .btn {
                justify-self: stretch;
                // max-width: 335px;

                @include for-tablet-landscape-up {
                    max-width: 140px;
                }
            }
        }
    }
}
