.c-trainers-card {
        
    display: grid;
    grid-template-rows: min-content min-content;
    justify-items: center;
    row-gap: 32px;
    
    &__info {
        display: grid;
        grid-template-rows: min-content min-content;
        // justify-items: center;
        row-gap: 24px;
        color: $s-grey-700;

        &-header {
            display: grid;
            grid-template-rows: min-content min-content;
            row-gap: 8px;

            &-position {
                color: $s-grey-400;
            }

            &-heading {
                color: $s-primary-300;
            }
        }
    }
}