@import url("https://use.fontawesome.com/releases/v5.8.1/css/all.css");
/*! modern-normalize v0.7.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/
:root {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

html * {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
  min-height: 100vh;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/*
Grouping content
================
*/
/**
Add the correct height in Firefox.
*/
hr {
  height: 0;
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b, strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code, kbd, samp, pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button, input, optgroup, select, textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button, select {
  /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button, [type='button'], [type='reset'], [type='submit'] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
button::-moz-focus-inner, [type='button']::-moz-focus-inner, [type='reset']::-moz-focus-inner, [type='submit']::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
button:-moz-focusring, [type='button']:-moz-focusring, [type='reset']:-moz-focusring, [type='submit']:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
[type='number']::-webkit-inner-spin-button, [type='number']::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

@font-face {
  font-family: "Lato";
  src: url("../../assets/fonts/latoregular.woff2") format("woff2"), url("../../assets/fonts/latoregular.woff") format("woff");
}

html,
* {
  font-family: Lato, sans-serif;
}

a,
button {
  font-style: normal;
  font-size: 13px;
  line-height: 16px;
}

a {
  font-weight: 600;
}

p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}

button {
  font-weight: 800;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
}

h3 {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
}

h4 {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

.o-box {
  background-color: slateblue;
  border: 1px dashed black;
  border-radius: 10px;
}

.o-page-wrapper {
  min-width: 375px;
  min-height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 74px auto auto;
      grid-template-rows: 74px auto auto;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
}

.o-page-content-wrapper {
  width: 92%;
  margin: 0 auto;
}

.o-logo-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 15px 45px;
      grid-template-columns: 15px 45px;
  gap: 0 20px;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -ms-flex-line-pack: center;
      align-content: center;
}

.o-burger-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 85px 25px;
      grid-template-columns: 85px 25px;
  gap: 0 20px;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

.o-select-like {
  background-color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.o-round-wrapper {
  border: 8px solid #41BEAD;
  border-radius: 50%;
  width: 170px;
  height: 170px;
  overflow: hidden;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.btn {
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2), 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 0px 2px rgba(0, 0, 0, 0.14);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2), 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 0px 2px rgba(0, 0, 0, 0.14);
  border-radius: 100px;
  border: none;
  outline: none;
  padding: 10px 22px;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}

.btn:hover {
  cursor: pointer;
  -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.2);
}

.btn--small {
  border-radius: 4px;
  padding: 4px 8px;
  color: #FFFFFF;
  font-size: 12px;
  font-weight: bold;
  background-color: #FFC20A;
}

.btn--secondary {
  background: #FF9100;
  color: #FFFFFF;
}

.btn--secondary-inverted {
  border: 1px solid #FF9100;
  color: #FF9100;
  background: transparent;
}

.btn--white-inverted {
  border: 1px solid #FFFFFF;
  color: #FFFFFF;
  background: transparent;
}

.btn[disabled], .btn.disabled {
  cursor: not-allowed;
}

.text-like {
  padding: 0;
  border: 0;
  background: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.text-like:hover {
  cursor: pointer;
}

.c-home-main {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 300px 565px auto auto auto auto auto;
      grid-template-rows: 300px 565px auto auto auto auto auto;
  padding-bottom: 108px;
}

@media (min-width: 1200px) {
  .c-home-main {
    padding-bottom: 160px;
  }
}

@media (min-width: 900px) {
  .c-home-main {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 300px 275px auto auto auto auto auto;
        grid-template-rows: 300px 275px auto auto auto auto auto;
  }
}

@media (min-width: 1200px) {
  .c-home-main {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 300px 112px auto auto auto auto auto;
        grid-template-rows: 300px 112px auto auto auto auto auto;
  }
}

.c-home-main__welcome {
  background-color: #44A9F8;
}

.c-home-main__welcome-heading {
  text-align: center;
  color: #FFFFFF;
  max-width: 600px;
}

.c-home-main__welcome .o-page-content-wrapper {
  height: 100%;
  background-color: #44A9F8;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 22px auto;
      grid-template-rows: 22px auto;
  row-gap: 24px;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.c-home-main__welcome .o-page-content-wrapper .btn {
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.c-home-main__enroll {
  position: relative;
}

.c-home-main__enroll .o-page-content-wrapper {
  height: 100%;
  position: absolute;
  top: -60px;
  left: 4%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 150px 12px auto;
      grid-template-rows: 150px 12px auto;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.14), 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 3px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.14), 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 12px;
}

@media (min-width: 1200px) {
  .c-home-main__enroll .o-page-content-wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto 12px auto;
        grid-template-columns: auto 12px auto;
    -ms-grid-rows: 112px;
        grid-template-rows: 112px;
  }
}

.c-home-main__enroll .o-page-content-wrapper .btn {
  padding: 16px 94px;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media (min-width: 1200px) {
  .c-home-main__enroll .o-page-content-wrapper .btn {
    padding: 14px 32px;
  }
}

@media (min-width: 1200px) {
  .c-home-main__enroll .c-dotted-line {
    position: relative;
    margin: 0;
    width: 20px;
    height: 100%;
    background: radial-gradient(circle 12px, transparent, transparent 40%, #c4c4c4 60%, #fff 60%, #fff 100%) 41px -11px/20px 19px repeat;
  }
}

.c-home-main__enroll-cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 100px 100px 100px 100px;
      grid-template-rows: 100px 100px 100px 100px;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
}

@media (min-width: 900px) {
  .c-home-main__enroll-cards {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto auto auto;
        grid-template-columns: auto auto auto auto;
    -ms-grid-rows: 112px;
        grid-template-rows: 112px;
    -webkit-column-gap: 12px;
            column-gap: 12px;
  }
}

@media (min-width: 1200px) {
  .c-home-main__enroll-cards {
    -webkit-column-gap: 32px;
            column-gap: 32px;
  }
}

.c-home-main__enroll-card {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 32px auto;
      grid-template-columns: 32px auto;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  -webkit-column-gap: 24px;
          column-gap: 24px;
  padding-left: 24px;
}

.c-home-main__enroll-card-icon {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.c-home-main__enroll-card-icon::after {
  position: absolute;
  content: "";
  width: 24px;
  height: 2px;
  background-color: #565656;
  display: inline-block;
  bottom: -20px;
  left: 0;
}

.c-home-main__enroll-card-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
  row-gap: 6px;
}

.c-home-main__enroll-card-content-key {
  -ms-flex-item-align: end;
      align-self: flex-end;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
}

.c-home-main__enroll-card-content-value {
  color: #FF9100;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
}

.c-home-main__description .o-page-content-wrapper {
  height: 100%;
  display: -ms-grid;
  display: grid;
  row-gap: 32px;
  -ms-grid-rows: min-content auto;
      grid-template-rows: -webkit-min-content auto;
      grid-template-rows: min-content auto;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  color: #565656;
}

@media (min-width: 900px) {
  .c-home-main__description .o-page-content-wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 60% 40%;
        grid-template-columns: 60% 40%;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    -webkit-column-gap: 20px;
            column-gap: 20px;
  }
}

@media (min-width: 1200px) {
  .c-home-main__description .o-page-content-wrapper {
    -webkit-column-gap: 36px;
            column-gap: 36px;
  }
}

.c-home-main__description-texts {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto auto auto;
      grid-template-rows: auto auto auto;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  row-gap: 20px;
}

.c-home-main__description-video {
  position: relative;
  -ms-grid-column-align: center;
      justify-self: center;
}

@media (min-width: 900px) {
  .c-home-main__description-video {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

@media (min-width: 1400px) {
  .c-home-main__description-video {
    position: relative;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

.c-home-main__description-video-mobile {
  width: 335px;
  height: 190px;
}

@media (min-width: 1400px) {
  .c-home-main__description-video-mobile {
    display: none;
  }
}

@media (min-width: 1400px) {
  .c-home-main__description-video-desktop {
    display: block !important;
    width: 440px;
    height: 248px;
  }
}

.c-home-main__description-video .far {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 60px;
  color: #FFFFFF;
  background-color: transparent;
}

.c-home-main__faq .o-page-content-wrapper {
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 10px 1fr;
      grid-template-rows: 1fr 10px 1fr;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  padding: 64px 0;
  row-gap: 32px;
  color: #565656;
}

@media (min-width: 900px) {
  .c-home-main__faq .o-page-content-wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 10px 1fr;
        grid-template-columns: 1fr 10px 1fr;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    -webkit-column-gap: 48px;
            column-gap: 48px;
  }
}

@media (min-width: 900px) {
  .c-home-main__faq .o-page-content-wrapper {
    -webkit-column-gap: 88px;
            column-gap: 88px;
  }
}

.c-home-main__faq .o-page-content-wrapper .c-card-main {
      grid-template-areas: "icon heading" "content content";
}

@media (min-width: 900px) {
  .c-home-main__faq .o-page-content-wrapper .c-card-main {
        grid-template-areas: "icon heading" "icon content";
  }
}

.c-home-main__faq .o-page-content-wrapper .c-card-main__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: max-content;
      grid-template-rows: -webkit-max-content;
      grid-template-rows: max-content;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  row-gap: 20px;
  grid-auto-flow: row;
  grid-auto-rows: auto;
}

@media (min-width: 1200px) {
  .c-home-main__faq .o-page-content-wrapper .c-card-main__content {
    max-width: 488px;
  }
}

.c-home-main__program {
  background-color: #FFCB29;
}

.c-home-main__program .o-page-content-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto min;
      grid-template-rows: auto min;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  padding: 64px 0;
  color: #565656;
}

@media (min-width: 1200px) {
  .c-home-main__program .o-page-content-wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 58% auto;
        grid-template-columns: 58% auto;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
  }
}

.c-home-main__program-description-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  row-gap: 32px;
}

.c-home-main__program-description-wrapper .c-card-main {
      grid-template-areas: "icon heading" "content content";
}

@media (min-width: 1200px) {
  .c-home-main__program-description-wrapper .c-card-main {
        grid-template-areas: "icon heading" "icon content";
  }
}

@media (min-width: 1200px) {
  .c-home-main__program-image-wrapper {
    display: block !important;
    display: -ms-grid !important;
    display: grid !important;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    justify-items: center;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .c-home-main__program-image-wrapper .image-program {
    padding-left: 50px;
  }
}

.c-home-main__program-classes {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 22px 52px 52px 94px 74px;
      grid-template-rows: 22px 52px 52px 94px 74px;
  row-gap: 16px;
  position: relative;
}

@media (min-width: 1200px) {
  .c-home-main__program-classes {
    padding-left: 4em;
  }
}

.c-home-main__program-classes-class {
  padding-left: 14px;
  font-size: 18px;
  max-width: 265px;
}

.c-home-main__program-classes-heading {
  font-size: 18px;
}

.c-home-main__program-classes .arrow-down {
  position: absolute;
  right: 20px;
  color: #919191;
}

@media (min-width: 900px) {
  .c-home-main__certificate {
    display: block !important;
  }
}

.c-home-main__certificate .o-page-content-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  -webkit-column-gap: 10px;
          column-gap: 10px;
  height: 100%;
  padding-top: 60px;
  padding-bottom: 108px;
}

.c-home-main__certificate-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  height: 100%;
}

.c-home-main__certificate-wrapper-image {
  width: 363px;
  height: 256px;
  background-color: #D6D6D6;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-grid-row-align: center;
      align-self: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  background-color: #D6D6D6;
  border-radius: 12px;
  -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.14), 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 3px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.14), 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 3px rgba(0, 0, 0, 0.2);
}

.c-home-main__certificate-wrapper-description {
  -ms-grid-row-align: center;
      align-self: center;
  height: 36px;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #565656;
  text-align: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  -ms-flex-line-pack: center;
      align-content: center;
}

.c-home-main__certificate-description {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: #565656;
}

.c-home-main__info {
  height: 100%;
  padding-top: 60px;
}

@media (min-width: 900px) {
  .c-home-main__info {
    padding-top: 0;
  }
}

.c-home-main__info .o-page-content-wrapper {
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 10px 1fr;
      grid-template-rows: 1fr 10px 1fr;
  row-gap: 32px;
  color: #565656;
}

.c-home-main__info .o-page-content-wrapper .c-card-main {
      grid-template-areas: "icon heading" "content content";
}

@media (min-width: 1200px) {
  .c-home-main__info .o-page-content-wrapper .c-card-main {
        grid-template-areas: "icon heading" "icon content";
  }
}

@media (min-width: 900px) {
  .c-home-main__info .o-page-content-wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 10px 1fr;
        grid-template-columns: 1fr 10px 1fr;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    -webkit-column-gap: 32px;
            column-gap: 32px;
    height: 100%;
  }
}

@media (min-width: 1200px) {
  .c-home-main__info .o-page-content-wrapper {
    height: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 10px 1fr;
        grid-template-columns: 1fr 10px 1fr;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    -webkit-column-gap: 32px;
            column-gap: 32px;
  }
}

@media (min-width: 900px) {
  .c-home-main__info-location {
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
  }
}

@media (min-width: 1200px) {
  .c-home-main__info-location {
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
  }
}

.c-main-header {
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.c-main-header .o-page-content-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 1fr auto;
      grid-template-columns: auto 1fr auto;
  -ms-grid-rows: 74px;
      grid-template-rows: 74px;
}

.c-main-header .o-page-content-wrapper .o-logo-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 13px 1fr;
      grid-template-columns: 13px 1fr;
  -webkit-column-gap: 14px;
          column-gap: 14px;
}

.c-main-header .o-page-content-wrapper .o-logo-wrapper svg {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.c-main-header .o-page-content-wrapper .o-logo-wrapper svg path {
  fill: #565656;
}

@media (min-width: 900px) {
  .c-main-header .o-page-content-wrapper .o-logo-wrapper svg path {
    fill: #FF9100;
  }
}

@media (min-width: 1200px) {
  .c-main-header .o-page-content-wrapper .o-logo-wrapper .logo-vertical {
    display: none;
  }
}

@media (min-width: 1200px) {
  .c-main-header .o-page-content-wrapper .o-logo-wrapper .logo-horizontal {
    display: block;
  }
}

.c-main-header .o-page-content-wrapper .c-main-navbar {
  padding-right: 32px;
}

.c-main-header .o-page-content-wrapper .c-main-navbar .c-main-navbar__list {
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto auto auto 32px;
      grid-template-columns: auto auto auto auto auto 32px;
  -webkit-column-gap: 24px;
          column-gap: 24px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.c-main-header .o-page-content-wrapper .c-main-navbar .c-main-navbar__list-item {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  -ms-grid-row-align: center;
      align-self: center;
}

.c-main-header .o-page-content-wrapper .c-main-navbar .c-main-navbar__list-item__link {
  color: #565656;
  padding: 29px 12px;
}

.c-main-header .o-page-content-wrapper .c-main-navbar .c-main-navbar__list-item__link:hover {
  color: #FF9100;
}

@media (min-width: 900px) {
  .c-main-header .o-page-content-wrapper .c-main-navbar {
    display: -ms-grid;
    display: grid;
  }
}

.c-main-header .o-burger-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 24px;
      grid-template-columns: auto 24px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 900px) {
  .c-main-header .o-burger-wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
  }
}

@media (min-width: 900px) {
  .c-main-header .burger {
    display: none;
  }
}

.c-main-footer {
  background-color: #565656;
  position: relative;
}

.c-main-footer::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 12px;
  background-color: #919191;
  display: inline-block;
  top: -12px;
  left: 0;
}

.c-main-footer .o-page-content-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  position: relative;
}

@media (min-width: 900px) {
  .c-main-footer .o-page-content-wrapper {
    -ms-grid-columns: auto min;
        grid-template-columns: auto min;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    -webkit-column-gap: unset;
            column-gap: unset;
  }
}

.c-main-footer__rights-mobile {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  border-top: 1px solid #696969;
}

.c-main-footer__rights-mobile-text {
  color: #919191;
  padding: 0 30px;
  text-align: center;
  margin: 32px 0;
}

@media (min-width: 900px) {
  .c-main-footer__rights-mobile {
    display: none;
  }
}

.c-main-footer .c-main-footer__rights-tablet-and-up {
  display: none;
}

@media (min-width: 900px) {
  .c-main-footer .c-main-footer__rights-tablet-and-up {
    display: -ms-grid;
    display: grid;
    height: 100%;
    -ms-grid-rows: 38px;
        grid-template-rows: 38px;
    max-width: 177px;
    text-align: left;
  }
  .c-main-footer .c-main-footer__rights-tablet-and-up-text {
    color: #919191;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    padding: 0 30px;
    text-align: center;
  }
}

.c-main-footer__link {
  color: #FFFFFF;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
}

@media (min-width: 900px) {
  .c-main-footer__link {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
  }
}

.c-main-footer__link:hover {
  color: #41BEAD;
}

.c-main-footer__content-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: min auto;
      grid-template-columns: min auto;
}

@media (min-width: 1200px) {
  .c-main-footer__content-wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 220px auto;
        grid-template-columns: 220px auto;
    -webkit-column-gap: 38px;
            column-gap: 38px;
  }
}

@media (min-width: 1400px) {
  .c-main-footer__content-wrapper {
    -webkit-column-gap: 78px;
            column-gap: 78px;
  }
}

.c-main-footer__image-wrapper {
  overflow: visible;
}

.c-main-footer__image-wrapper img {
  position: absolute;
  bottom: 0;
  left: 0;
}

@media (min-width: 1200px) {
  .c-main-footer__image-wrapper {
    display: block !important;
  }
}

.c-main-footer__menu {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  -webkit-column-gap: 22px;
          column-gap: 22px;
  color: #FFFFFF;
  padding-top: 52px;
  padding-bottom: 32px;
}

@media (min-width: 900px) {
  .c-main-footer__menu {
    display: -ms-grid !important;
    display: grid !important;
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    padding: 64px 0;
  }
}

@media (min-width: 1400px) {
  .c-main-footer__menu {
    -webkit-column-gap: 85px;
            column-gap: 85px;
  }
}

.c-main-footer__menu-section-heading {
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
}

@media (min-width: 900px) {
  .c-main-footer__menu-section-heading {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
  }
}

.c-main-footer__menu-left {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  row-gap: 32px;
}

@media (min-width: 900px) {
  .c-main-footer__menu-left {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    -webkit-column-gap: 25px;
            column-gap: 25px;
  }
}

@media (min-width: 1200px) {
  .c-main-footer__menu-left {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
    -webkit-column-gap: 38px;
            column-gap: 38px;
  }
}

@media (min-width: 1400px) {
  .c-main-footer__menu-left {
    -webkit-column-gap: 78px;
            column-gap: 78px;
  }
}

.c-main-footer__menu-kids {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: min-content min-content;
      grid-template-rows: -webkit-min-content -webkit-min-content;
      grid-template-rows: min-content min-content;
  -ms-grid-columns: max-content;
      grid-template-columns: -webkit-max-content;
      grid-template-columns: max-content;
  row-gap: 16px;
}

.c-main-footer__menu-kids__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto auto auto auto auto auto auto;
      grid-template-rows: auto auto auto auto auto auto auto;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  row-gap: 12px;
}

@media (min-width: 1200px) {
  .c-main-footer__menu-kids__list {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: auto auto auto auto auto;
        grid-template-rows: auto auto auto auto auto;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    grid-auto-flow: column;
    -webkit-column-gap: 12px;
            column-gap: 12px;
  }
}

@media (min-width: 1400px) {
  .c-main-footer__menu-kids__list {
    -webkit-column-gap: 24px;
            column-gap: 24px;
  }
}

.c-main-footer__menu-learnings {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: min-content min-content;
      grid-template-rows: -webkit-min-content -webkit-min-content;
      grid-template-rows: min-content min-content;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  row-gap: 16px;
}

.c-main-footer__menu-learnings__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: min-content min-content;
      grid-template-rows: -webkit-min-content -webkit-min-content;
      grid-template-rows: min-content min-content;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  row-gap: 12px;
}

.c-main-footer__menu-right {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: min-content auto;
      grid-template-rows: -webkit-min-content auto;
      grid-template-rows: min-content auto;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  row-gap: 32px;
}

@media (min-width: 900px) {
  .c-main-footer__menu-right {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
  }
}

@media (min-width: 1200px) {
  .c-main-footer__menu-right {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    -webkit-column-gap: 38px;
            column-gap: 38px;
  }
}

@media (min-width: 1400px) {
  .c-main-footer__menu-right {
    -webkit-column-gap: 85px;
            column-gap: 85px;
  }
}

.c-main-footer__menu-initiatives {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: min-content min-content;
      grid-template-rows: -webkit-min-content -webkit-min-content;
      grid-template-rows: min-content min-content;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  row-gap: 16px;
}

.c-main-footer__menu-initiatives-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto auto auto auto auto;
      grid-template-rows: auto auto auto auto auto;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  row-gap: 12px;
}

.c-main-footer__menu-find-us {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: min-content auto;
      grid-template-rows: -webkit-min-content auto;
      grid-template-rows: min-content auto;
  -ms-grid-columns: max-content;
      grid-template-columns: -webkit-max-content;
      grid-template-columns: max-content;
  row-gap: 24px;
}

@media (min-width: 900px) {
  .c-main-footer__menu-find-us-heading {
    display: block !important;
  }
}

.c-main-footer__menu-find-us-content-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: min-content min;
      grid-template-rows: -webkit-min-content min;
      grid-template-rows: min-content min;
  -ms-grid-columns: max-content;
      grid-template-columns: -webkit-max-content;
      grid-template-columns: max-content;
}

@media (min-width: 900px) {
  .c-main-footer__menu-find-us-content-wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: min-content auto;
        grid-template-rows: -webkit-min-content auto;
        grid-template-rows: min-content auto;
    -ms-grid-columns: max-content;
        grid-template-columns: -webkit-max-content;
        grid-template-columns: max-content;
    row-gap: 48px !important;
  }
}

@media (min-width: 900px) {
  .c-main-footer__menu-find-us-rights {
    display: block !important;
    max-width: 177px;
    max-height: 38px;
  }
}

.c-main-footer__menu-find-us-icon:hover path {
  fill: #41BEAD;
}

.c-card-main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: min-content auto;
      grid-template-columns: -webkit-min-content auto;
      grid-template-columns: min-content auto;
  -ms-grid-rows: min-content auto;
      grid-template-rows: -webkit-min-content auto;
      grid-template-rows: min-content auto;
  row-gap: 16px;
  -webkit-column-gap: 16px;
          column-gap: 16px;
      grid-template-areas: "icon heading" "icon content";
}

@media (min-width: 900px) {
  .c-card-main {
    -webkit-column-gap: 26px;
            column-gap: 26px;
  }
}

@media (min-width: 1200px) {
  .c-card-main {
    -webkit-column-gap: 32px;
            column-gap: 32px;
  }
}

.c-card-main__icon {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: icon;
}

.c-card-main__heading {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: heading;
}

.c-card-main__content {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: content;
}

.c-card-main__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: min-content;
      grid-template-rows: -webkit-min-content;
      grid-template-rows: min-content;
  row-gap: 20px;
  grid-auto-flow: row;
  grid-auto-rows: -webkit-min-content;
  grid-auto-rows: min-content;
}

.c-trainers-main {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 356px auto 10px auto 662px;
      grid-template-rows: 356px auto 10px auto 662px;
  row-gap: 64px;
}

@media (min-width: 900px) {
  .c-trainers-main {
    -ms-grid-rows: 356px auto 10px auto 400px;
        grid-template-rows: 356px auto 10px auto 400px;
  }
}

@media (min-width: 1200px) {
  .c-trainers-main {
    row-gap: 96px;
  }
}

.c-trainers-main__welcome {
  background-color: #FFB402;
}

.c-trainers-main__welcome-heading {
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: start;
      align-self: flex-start;
  text-align: center;
  color: #FFFFFF;
  padding: 0 5%;
}

.c-trainers-main__welcome .o-page-content-wrapper {
  height: 100%;
  background-color: #FFB402;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  color: #FFFFFF;
}

.c-trainers-main__welcome .o-page-content-wrapper .c-heading-part__description {
  -ms-grid-column-align: center;
      justify-self: center;
  max-width: 850px;
}

.c-trainers-main__leaders .o-page-content-wrapper {
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  row-gap: 64px;
}

@media (min-width: 1200px) {
  .c-trainers-main__leaders .o-page-content-wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    -webkit-column-gap: 32px;
            column-gap: 32px;
  }
}

.c-trainers-main__all {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
}

.c-trainers-main__all-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto min min min;
      grid-template-columns: auto min min min;
  grid-auto-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-column-gap: 32px;
          column-gap: 32px;
}

.c-trainers-main__all-list img {
  vertical-align: middle;
}

@media (min-width: 600px) {
  .c-trainers-main__all-list {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto min min !important;
        grid-template-columns: auto auto min min !important;
    -webkit-column-gap: 46px;
            column-gap: 46px;
  }
}

@media (min-width: 900px) {
  .c-trainers-main__all-list {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto auto min !important;
        grid-template-columns: auto auto auto min !important;
    -webkit-column-gap: 66px;
            column-gap: 66px;
  }
}

@media (min-width: 1200px) {
  .c-trainers-main__all-list {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto auto auto !important;
        grid-template-columns: auto auto auto auto !important;
    -webkit-column-gap: 86px;
            column-gap: 86px;
  }
}

@media (min-width: 600px) {
  .c-trainers-main__all-list-item:nth-child(2) {
    width: 100%;
    display: block !important;
  }
}

@media (min-width: 900px) {
  .c-trainers-main__all-list-item:nth-child(3) {
    width: 100%;
    display: -ms-grid;
    display: grid;
  }
}

@media (min-width: 1200px) {
  .c-trainers-main__all-list-item:nth-child(4) {
    width: 100%;
    display: -ms-grid;
    display: grid;
  }
}

.c-trainers-main__join {
  background-color: #66B9F8;
  height: 662px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

@media (min-width: 900px) {
  .c-trainers-main__join {
    height: 400px;
  }
}

.c-trainers-main__join .o-page-content-wrapper {
  height: 100%;
  background-color: #66B9F8;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 164px auto;
      grid-template-rows: 164px auto;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  row-gap: 46px;
}

@media (min-width: 900px) {
  .c-trainers-main__join .o-page-content-wrapper {
    height: 400px;
    -ms-grid-rows: 108px 130px;
        grid-template-rows: 108px 130px;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    row-gap: 46px;
  }
}

.c-trainers-main__join-main {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
  row-gap: 46px;
}

@media (min-width: 900px) {
  .c-trainers-main__join-main {
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    -ms-flex-line-pack: start;
        align-content: flex-start;
    -webkit-column-gap: 48px;
            column-gap: 48px;
  }
}

.c-trainers-main__join-inputs {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 50px 50px 50px;
      grid-template-rows: 50px 50px 50px;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  row-gap: 36px;
}

@media (min-width: 900px) {
  .c-trainers-main__join-inputs {
    -ms-grid-columns: auto auto auto;
        grid-template-columns: auto auto auto;
    -ms-grid-rows: 50px;
        grid-template-rows: 50px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-column-gap: 32px;
            column-gap: 32px;
  }
}

.c-trainers-main__join-inputs-item {
  min-width: 335px;
  height: 100%;
  border: 1px solid #FFFFFF;
  border-radius: 6px;
  background-color: #66B9F8;
}

@media (min-width: 900px) {
  .c-trainers-main__join-inputs-item {
    min-width: 200px;
    height: 100%;
  }
}

.c-trainers-main__join-inputs-item::-webkit-input-placeholder {
  height: 20px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  padding-left: 16px;
  padding-top: 16px;
  padding-bottom: 16px;
}

.c-trainers-main__join-inputs-item:-ms-input-placeholder {
  height: 20px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  padding-left: 16px;
  padding-top: 16px;
  padding-bottom: 16px;
}

.c-trainers-main__join-inputs-item::-ms-input-placeholder {
  height: 20px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  padding-left: 16px;
  padding-top: 16px;
  padding-bottom: 16px;
}

.c-trainers-main__join-inputs-item::placeholder {
  height: 20px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  padding-left: 16px;
  padding-top: 16px;
  padding-bottom: 16px;
}

.c-trainers-main__join-heading-part {
  color: #FFFFFF;
}

@media (min-width: 600px) {
  .c-trainers-main__join-heading-part {
    text-align: center;
  }
}

.c-trainers-main__join-description {
  max-width: 850px;
}

.c-trainers-main__join-button-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 48px;
      grid-template-rows: 48px;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
}

.c-trainers-main__join-button-wrapper .btn {
  -ms-grid-column-align: stretch;
      justify-self: stretch;
}

@media (min-width: 900px) {
  .c-trainers-main__join-button-wrapper .btn {
    max-width: 140px;
  }
}

.c-heading-part {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: min-content min-content;
      grid-template-rows: -webkit-min-content -webkit-min-content;
      grid-template-rows: min-content min-content;
  -ms-flex-line-pack: center;
      align-content: center;
  row-gap: 24px;
}

.c-heading-part--centered {
  text-align: center;
}

.c-heading-part--left {
  text-align: left;
}

.c-leaders-card {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: min-content min-content;
      grid-template-rows: -webkit-min-content -webkit-min-content;
      grid-template-rows: min-content min-content;
  justify-items: center;
  row-gap: 32px;
}

@media (min-width: 900px) {
  .c-leaders-card {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: min-content min-content;
        grid-template-columns: -webkit-min-content -webkit-min-content;
        grid-template-columns: min-content min-content;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-column-gap: 32px;
            column-gap: 32px;
  }
}

@media (min-width: 1200px) {
  .c-leaders-card {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: min-content min-content;
        grid-template-columns: -webkit-min-content -webkit-min-content;
        grid-template-columns: min-content min-content;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    -webkit-column-gap: 32px;
            column-gap: 32px;
  }
}

.c-leaders-card__info {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: min-content min-content;
      grid-template-rows: -webkit-min-content -webkit-min-content;
      grid-template-rows: min-content min-content;
  row-gap: 24px;
  color: #565656;
}

.c-leaders-card__info-header {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: min-content min-content;
      grid-template-rows: -webkit-min-content -webkit-min-content;
      grid-template-rows: min-content min-content;
  row-gap: 8px;
}

@media (min-width: 900px) {
  .c-leaders-card__info-header {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    text-align: left;
  }
}

.c-leaders-card__info-header-position {
  color: #B2B2B2;
}

.c-leaders-card__info-header-heading {
  color: #41BEAD;
}

@media (min-width: 900px) {
  .c-leaders-card__info-description {
    width: 650px;
  }
}

@media (min-width: 1200px) {
  .c-leaders-card__info-description {
    width: 320px;
  }
}

@media (min-width: 1400px) {
  .c-leaders-card__info-description {
    width: 410px;
    height: 280px;
  }
}

.c-trainers-card {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: min-content min-content;
      grid-template-rows: -webkit-min-content -webkit-min-content;
      grid-template-rows: min-content min-content;
  justify-items: center;
  row-gap: 32px;
}

.c-trainers-card__info {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: min-content min-content;
      grid-template-rows: -webkit-min-content -webkit-min-content;
      grid-template-rows: min-content min-content;
  row-gap: 24px;
  color: #565656;
}

.c-trainers-card__info-header {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: min-content min-content;
      grid-template-rows: -webkit-min-content -webkit-min-content;
      grid-template-rows: min-content min-content;
  row-gap: 8px;
}

.c-trainers-card__info-header-position {
  color: #B2B2B2;
}

.c-trainers-card__info-header-heading {
  color: #41BEAD;
}

.c-contact-us-main {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto auto auto auto;
      grid-template-rows: auto auto auto auto;
}

.c-contact-us-main__map {
  height: 100%;
}

.c-contact-us-main__map img {
  width: 100%;
  height: auto;
}

.c-contact-us-main__info {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  position: relative;
}

@media (min-width: 1200px) {
  .c-contact-us-main__info {
    height: 84px;
  }
}

.c-contact-us-main__info .o-page-content-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 32px;
      grid-template-rows: auto 32px;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  background-color: #FFFFFF;
  row-gap: 32px;
  padding-top: 64px;
}

@media (min-width: 900px) {
  .c-contact-us-main__info .o-page-content-wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto 240px;
        grid-template-columns: auto 240px;
    -webkit-column-gap: 48px;
            column-gap: 48px;
  }
}

@media (min-width: 1200px) {
  .c-contact-us-main__info .o-page-content-wrapper {
    position: absolute;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: auto auto;
        grid-template-rows: auto auto;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    bottom: 0;
    left: 75px;
    z-index: 99;
    width: 520px;
    height: 380px;
    -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.14), 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 3px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.14), 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 3px rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    row-gap: 30px;
  }
}

.c-contact-us-main__info .o-page-content-wrapper .btn {
  max-width: 240px;
  -ms-grid-column-align: center;
      justify-self: center;
  max-height: 32px;
}

.c-contact-us-main__info-inner {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto auto auto;
      grid-template-rows: auto auto auto;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  row-gap: 32px;
  text-align: center;
}

@media (min-width: 900px) {
  .c-contact-us-main__info-inner {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto auto;
        grid-template-columns: auto auto auto;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    -webkit-column-gap: 32px;
            column-gap: 32px;
  }
}

@media (min-width: 1200px) {
  .c-contact-us-main__info-inner {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 215px auto;
        grid-template-columns: 215px auto;
    grid-auto-rows: auto;
  }
}

.c-contact-us-main__info-heading {
  color: #41BEAD;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
}

.c-contact-us-main__info-address {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 18px auto;
      grid-template-rows: 18px auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.c-contact-us-main__info-working-time {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 18px auto;
      grid-template-rows: 18px auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.c-contact-us-main__info-contacts {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 18px auto;
      grid-template-rows: 18px auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.c-contact-us-main__info-description-text {
  color: #565656;
}

.c-contact-us-main__write-us .o-page-content-wrapper {
  display: -ms-grid;
  display: grid;
  max-width: 850px;
  -ms-grid-rows: 24px 140px 192px 48px;
      grid-template-rows: 24px 140px 192px 48px;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  background-color: #FFFFFF;
  padding: 96px 0;
  row-gap: 30px;
}

@media (min-width: 900px) {
  .c-contact-us-main__write-us .o-page-content-wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 24px 50px 192px 48px;
        grid-template-rows: 24px 50px 192px 48px;
  }
}

.c-contact-us-main__write-us .o-page-content-wrapper .btn {
  justify-self: flex-start;
  padding: 14px 32px;
}

.c-contact-us-main__write-us-heading {
  -ms-grid-column-align: center;
      justify-self: center;
  color: #41BEAD;
}

.c-contact-us-main__write-us-inputs {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 50px 50px;
      grid-template-rows: 50px 50px;
  row-gap: 30px;
}

@media (min-width: 900px) {
  .c-contact-us-main__write-us-inputs {
    -ms-grid-columns: 409px 409px;
        grid-template-columns: 409px 409px;
    -ms-grid-rows: 50px;
        grid-template-rows: 50px;
    -webkit-column-gap: 30px;
            column-gap: 30px;
  }
}

.c-contact-us-main__write-us-inputs-item {
  height: 100%;
  border: 1px solid #919191;
  border-radius: 6px;
  background-color: #FFFFFF;
}

.c-contact-us-main__write-us-inputs-item::-webkit-input-placeholder {
  color: #919191;
}

.c-contact-us-main__write-us-inputs-item:-ms-input-placeholder {
  color: #919191;
}

.c-contact-us-main__write-us-inputs-item::-ms-input-placeholder {
  color: #919191;
}

.c-contact-us-main__write-us-inputs-item::placeholder {
  color: #919191;
}

.c-contact-us-main__write-us-input-text {
  border: 1px solid #919191;
}

.c-contact-us-main__write-us-input-text::-webkit-input-placeholder {
  color: #919191;
}

.c-contact-us-main__write-us-input-text:-ms-input-placeholder {
  color: #919191;
}

.c-contact-us-main__write-us-input-text::-ms-input-placeholder {
  color: #919191;
}

.c-contact-us-main__write-us-input-text::placeholder {
  color: #919191;
}

.c-contact-us-main__get-there {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #FFF8E1;
}

.c-contact-us-main__get-there .o-page-content-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  row-gap: 48px;
  background-color: #FFF8E1;
  padding-top: 96px;
  padding-bottom: 108px;
}

.c-contact-us-main__get-there-heading {
  color: #41BEAD;
  font-weight: 600;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
}

.c-contact-us-main__get-there-transport {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto auto auto;
      grid-template-rows: auto auto auto;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  row-gap: 32px;
  text-align: left;
}

@media (min-width: 900px) {
  .c-contact-us-main__get-there-transport {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto auto;
        grid-template-columns: auto auto auto;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    -webkit-column-gap: 16px;
            column-gap: 16px;
  }
}

@media (min-width: 1200px) {
  .c-contact-us-main__get-there-transport {
    -webkit-column-gap: 32px;
            column-gap: 32px;
  }
}

.c-contact-us-main__get-there-transport-heading {
  color: #41BEAD;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
}

.c-contact-us-main__get-there-transport-description {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  grid-auto-rows: auto;
  row-gap: 16px;
}

.c-contact-us-main__get-there-transport-description-text {
  color: #565656;
}

@media (min-width: 900px) {
  .c-contact-us-main__get-there-transport-description-text {
    max-width: 407px;
  }
}

.c-input {
  height: 100%;
  border-radius: 6px;
}

.c-input::-webkit-input-placeholder {
  height: 20px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  padding-left: 16px;
  padding-top: 16px;
}

.c-input:-ms-input-placeholder {
  height: 20px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  padding-left: 16px;
  padding-top: 16px;
}

.c-input::-ms-input-placeholder {
  height: 20px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  padding-left: 16px;
  padding-top: 16px;
}

.c-input::placeholder {
  height: 20px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  padding-left: 16px;
  padding-top: 16px;
}

.c-dotted-line {
  position: relative;
  margin: 0;
  height: 20px;
  background: radial-gradient(circle 12px, transparent, transparent 40%, #C4C4C4 60%, #fff 60%, #fff 100%) 30px 0px/20px 20px repeat-x;
}

.u-hidden {
  display: none;
}

.u-underline-link {
  text-decoration: underline;
}

.u-underline-link--secondary-color-500 {
  color: #FFC20A;
}

.u-text-bold {
  font-weight: bold;
}
/*# sourceMappingURL=styles.css.map */